body {
  background-color: black; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #292f33;
  font-size: 14px;
  line-height: 18px;
}

header {
  height: 46px;
  background-color: white;
  border-bottom: 0.5px solid gray;
  box-shadow: 0px 1px 1px #999999;
}

h1 {
  position: absolute;
  left: 50%;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
#twitter_logo {
  height: 20px;
}

.navigation {
  float: left;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 0 14px 0 4px;
}

.pull-right {
  float: right;
/*  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 0 14px 0 4px;
  position: absolute;
  top: 3px;
  right: -3px;
  width: 26px;
  height: 26px;*/
}

.right-actions {
  /*position: inline;*/
}

.right-actions li {
  /*position: inline;*/
  list-style-type: none;
}

.nav-option-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: list-item;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color: #66757f;
  font-weight: 600;
  font-size: 13px;
  position: relative;
}

.nav-option {
  display: inline;
  margin-right: 20px;
  /*border-bottom-color: #93A644;*/
  /*border-bottom: 4px solid #93A644;*/
  /*transition: border-color .15s ease;*/
}

#body {
  width: auto;
  margin: 10px 50px 10px 50px;
  background:#ddd;
}

#content-1 {
  float: left;
  width: 285px;
  background: black;
  margin-right: 5px;
}

#content-2-1 {
  float: left;
  width: 588px;
  margin: 0 5px 0 5px;
}
#content-2-2 {
  float: right;
  width: 285px;
}

#user-link {
  height: 95px;
  width: 100%;
  background-color: #3B94D9;
  border-radius: 7px 7px 0px 0px;
}

#user-details {
  padding: 10px;
  background-color: white;
}

#user-info {
  width: 100%;
}

.user-picture {
  height: 72px;
  width: 72px;
  border: 3px solid #fff;
  border-radius: 7px;
  float: left;
  margin-top: -15%;
  margin-right: 3%;
}

.user-picture-small {
  width: 32px;
  height: 32px;
  border: 1px solid gray;
  border-radius: 7px;
}

.user-name-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.user-username {
  font-size: 12px;
  text-decoration: none;
}

.data-titles {
  width: 100%;
}

.data-titles li {
  font-size: 10px;
  display: inline;
  margin-right: 12%;
}

.data-counts {
  list-style-type: none;
  width: 100%;
}

.data-counts li {
  font-size: 18px;
  color: #3B94D9;
  display: inline;
}

.data-count-tweets {
  margin-right: 42px;
}

.data-count-following {
  margin-right: 68px;
}

#compose-tweet {
  background-color: #EBF4FB;
  padding: 10px;
  border-radius: 0px 0px 7px 7px;
  border-top: 1px solid rgba(59,148,217,0.25);
}

.textbox {
  border: 1px solid rgba(59,148,217,0.25); 
  border-radius: 3px;    
  outline:0; 
  height: 19px; 
  width: 247px; 
  padding: 6px 8px 6px 8px;
  font-size: 14px;
}

#trends {
  margin: 10px 0 10px 0;
  background: white;
  padding: 20px 15px 20px 15px;
  border-radius: 7px;  
}

#trends-heading {
  font-size: 18px;
}

.trend-link {
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}

#tweets-box {
  border-radius: 7px 7px 0px 0px;  
  background: white;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
}

#tweets-heading {
  padding: 14px;
  font-size: 18px;
  color: gray;
}

#new-tweets {
  border-top: 1px solid #e1e8ed;
  padding: 8px;
  text-align: center;
  background-color: #f5f8fa;
}

#new-tweets-link {
  text-decoration: none;
}

.tweet-item {
  padding: 9px 12px 9px 12px;
  background-color: white;
  border-top: 1px solid #e1e8ed;
}

.tweet-time {
  font-size: 12px;
  color: gray;
}

.tweet-picture {
  width: 490px;
  border-radius: 7px;
  margin: 0 0 30px 0;
  position: relative;
  top: -10px;
}

.tweet-links {
  position: relative;
  top: 365px;
}

.tweet-links-no-picture {
  position: relative;
  top: 0px;
  color: gray;
}

#follow-heading {
  font-size: 18px;
  color: gray;
}

#who-to-follow {
  background: white;
  border-radius: 7px 7px 0 0;
  padding: 12px 12px 6px 12px;
}

#follow-suggestions {
  background: white;
  padding: 0px 12px 12px 12px;
}

.follow-suggestion {
  padding: 5px;
}

.twitter-user-picture {
  height: 48px;
  width: auto;
  float: left;
  margin-right: 3%;
  margin-top: 1%; 
  margin-bottom: 1%;
  border-radius: 7px; 
}

.twitter-full-name {
font-weight: 700;
}

.twitter-username {
  color: gray;   
}

#find-people {
  background-color: #f5f8fa;
  border-radius: 0 0 7px 7px;  
  padding: 12px;
  border-top: 1px solid #e1e8ed;
}

#find-gmail {
  padding-bottom: 5px;
}

#gmail-logo {
  height: 40px;
  width: auto;
  float: left;
  margin-right: 3%;
  margin-top: -2%;
}

#find-other {
  border-top: 1px solid #e1e8ed;
  padding-top: 5px;
}

#twitter-info {
  margin-top: 10px;
  background: white;
  padding: 15px;
  border-radius: 7px;
  font-size: 12px;
  line-height: 18px;
  color: gray; 
}

.grey-text {
  font-size: 12px;
  color: gray;
}

.link-other {
  text-decoration: none;
  font-size: 12px;
  margin-right: 2%;
}

.link-twitter {
  text-decoration: none;
  color: gray; 
}